<h1>About Us</h1>


<h5>Started in December 2018, we only focused on one particular area (Bangi, Selangor) just to give it a spin and to do
  a trial error.
  Fast forward one year, we managed to discover that the business could cover a whole other area from Kajang up until
  Putrajaya.
  From then on we have never looked back.
</h5>