<div class="text-center">

  <br><br><br><br><br>

  <p class="lead">Book your seat now.</p>
  <ul class="navbar-nav ml-auto text-center">
    <li class="nav-item dropdown text-center">

      <div class="row">
        <div class="col-md-12 school-options-dropdown">
          <div class="dropdown">
            <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Find your
              Restaurant/Cafe
              <span class="caret"></span></button>
            <ul class="dropdown-menu text-center" id="myUL">
              <li><a href="/booking" class="dropdown-item">McDonald's (Seksyen 9)</a></li>
              <li><a href="/booking" class="dropdown-item">Red Card Cafe (Seksyen 9)</a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">Menate Steak Hub (Seksyen 9)</a></li>
              <li><a href="/booking" class="dropdown-item">Old Town Kopitiam (Seksyen 9)</a></li>
              <li><a href="/booking" class="dropdown-item">Sushi King - Bangi Gateway(Seksyen 15)</a></li>
              <li><a href="/booking" class="dropdown-item">Bakar-Bakar (Seksyen 8)</a></li>
              <li><a href="/booking" class="dropdown-item">Bangi Hotel (Seksyen 16)</a></li>
              <li><a href="/booking" class="dropdown-item">Mama Western (Seksyen 7)
                </a></li>
              <li><a href="/booking" class="dropdown-item">Secret Recipe (Seksyen 8)</a></li>
              <li><a href="/booking" class="dropdown-item">Secret Recipe (Bangi Gateway)</a></li>
              <li><a href="/booking" class="dropdown-item">Menate Steak Hub (Seksyen 9)</a></li>
              <li><a href="/booking" class="dropdown-item">Old Town Kopitiam (Seksyen 9)</a></li>
              <li><a href="/booking" class="dropdown-item">Sushi King - Bangi Gateway(Seksyen 15)</a></li>
              <li><a href="/booking" class="dropdown-item">Bakar-Bakar (Seksyen 8)</a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">Bangi Hotel (Seksyen 16)</a></li>
              <li><a href="https://www.facebook.com/redcardcafe/" class="dropdown-item">Mama Western (Seksyen 7)
                </a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">McDonald's (Seksyen 9)</a></li>
              <li><a href="https://www.facebook.com/redcardcafe/" class="dropdown-item">Red Card Cafe (Seksyen 9)</a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">Menate Steak Hub (Seksyen 9)</a></li>
              <li><a href="https://www.facebook.com/redcardcafe/" class="dropdown-item">Old Town Kopitiam (Seksyen 9)</a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">Sushi King - Bangi Gateway(Seksyen 15)</a></li>
              <li><a href="https://www.facebook.com/redcardcafe/" class="dropdown-item">Bakar-Bakar (Seksyen 8)</a></li>
              <li><a href="https://www.mcdonalds.com.my" class="dropdown-item">Bangi Hotel (Seksyen 16)</a></li>
              <li><a href="https://www.facebook.com/redcardcafe/" class="dropdown-item">Mama Western (Seksyen 7)
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <br>

  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>

            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" id="myInput" type="search" onkeyup="myFunction()"
                placeholder="Search Restaurant / Cafe">
            </div>

            <div class="col-auto">
              <button class="btn btn-lg btn-info" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<br><br><br><br><br><br><br>
<div class="text-center">

  <a href="/restlist" class="btn btn-dark">Can't find your restaurant? Tell us where.</a>
  <br>
  <br>
  <p>We are only in Bangi at the moment. Soon we will go further. Thank you for supporting us.</p>
</div>

<div class="copyright text-center">
  <font size="1">Copyright &copy 2018. All Rights Reserved by Aqal Niaga Sdn Bhd(62671-M).
  </font>
</div>

<!--
<center>
  <div class="text-center">
    <form action="/booking" method="GET" class="form-inline">
      <div class="from-group">
        <input type="text" name="search" placeholder="Search..." class="form-control">
        <input type="submit" value="Search" class="btn btn-default">
      </div>
    </form>
  </div>
</center>
-->