<h1>Time of Booking: --> coloumn goes here</h1>

<br>

<h1>Number of Pax: --> coloumn goes here</h1>

<br>

<a href="/reserve" class="btn btn-primary btn-success btn-lg text-center">Reserve your seat</a>